html, body {
  font-family: "libre Baskerville";
  text-align: center;
  padding: 0;
  margin: 0;
  color: #333333;
  background-color: #FFC200;
}

.container {
  margin: 0 auto;
}


/*HEADER*/


.header {
  padding: 15px 0 0;
  background-color: #FFC200;
}

.header h1 {
  font-size: 28px;
  font-weight: 500;
  margin: 10px 0;
  padding: 0;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header ul li a {
  display: block;
  color: #333333;
  text-decoration: none;
  font-size: 14px;
  margin: 0;
  padding: 12px 20px;
}

.header ul li a:hover {
  color: white;
  background-color: #333333;
}


/*JUMBOTRON*/


.jumbotron {
  background-color: white;
  height: 500px;
  padding: 0 30px;
  text-align: left;
}

.jumbotron h1 {
  max-width: 240px;
  font-size: 35px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  position: relative;
  top: 95px;
}

.jumbotron span {
  color: #FFC200;
}


/*BANNER*/


.banner {
  color: white;
  background-color: #333333;
  padding: 40px 35px 15px;
}

.banner h2 {
  font-size: 35px;
  font-weight: 400;
  margin: 0;
}

.banner p {
  font-size: 14px;
  margin-top: 10px;
}


/*CARDS*/


.cards {
  padding-top: 70px;
}

.cards h3 {
  font-size: 30px;
  font-weight: 500;
  color: #333333;
}

.cards .row {
  margin: 60px 0 80px;
}

.cards .row .column {
  margin: 15px;
}

.cards .row .column img {
  width: 100%;
  display: block;
  margin: 0 auto 25px;
}


/*FOOTER*/


.footer .container {
  width: 115px;
}

.footer {
  clear: both;
  height: 180px;
  background-color: #333333;
  color: white;
  text-align: left;
  padding: 50px 0;
}

.footer h4 {
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 12px;
}

.footer p {
  font-size: 12px;
  margin: 2px 0;
}

.footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer ul li {
  display: inline;
}

.footer ul li a {
  display: inline-block;
  font-size: 0;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  position: relative;
  top: -8px;
  cursor: pointer;
}

.footer ul li:nth-child(1) a {
  background-image: url(https://s3.amazonaws.com/codecademy-content/projects/headlines/email.svg);
}

.footer ul li:nth-child(2) a {
  background-image: url(https://s3.amazonaws.com/codecademy-content/projects/headlines/fb.svg);
}

.footer ul li:nth-child(3) a {
  background-image: url(https://s3.amazonaws.com/codecademy-content/projects/headlines/twitter.svg);
}


/*MEDIA QUERIES*/
/*common breaks: 768 992 1200 */

/*start scaling cards*/
/*pop nav inline*/
@media (min-width: 500px) {

  .header ul li {
    display: inline-block;
  }

  .header ul li a {
    margin: 0 -2.5px;
  }

  .jumbotron h1 {
    max-width: inherit;
    width: 73%;
    font-size: 38px;
    font-weight: 500;
    top: 120px;
  }

  .banner {
    background-color: aqua;
  }

  .cards .row {
    margin-bottom: 100px;
  }

  .cards .row .column img {
    width: 60%;
  }

}

/*stop scaling cards*/
@media (min-width: 768px) {

  .container {
    max-width: 750px;
  }

  .banner {
    background-color: red;
  }

  .jumbotron h1 {
    width: 635px;
    top: 175px;
    font-size: 42px;
  }

}

/*pop cards into columns*/
/*pop header into columns*/
@media (min-width: 992px) {

  .container {
    max-width: 940px;
  }

  .header {
    padding-top: 25px;
  }

  .header h1 {
    float: left;
    margin: 0 0 0 10px;
  }

  .header ul {
    float: right;
    margin-right: 10px;
  }

  .jumbotron {
    clear: both;
  }

  .jumbotron h1 {
    width: 725px;
    font-size: 48px;
    margin-left: 10px;
    top: 160px;
  }

  .banner {
    background-color: darkviolet;
  }

  .cards .row .column {
    width: 33.33%;
    float: left;
    margin: 0 0 80px;
  }

  .cards .row .column img {
    width: auto;
  }

  .footer .container {
    width: 100%;
    padding-left: 30px;
  }

}
