html, body {
  background-color: silver;
  font-family: "libre Baskerville";
  text-align: center;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}


/*HEADER*/



/*JUMBOTRON*/



/*BANNER*/



/*CARDS*/



/*FOOTER*/

.footer {
  height: 180px;
  background-color: black;
  color: white;
  text-align: left;
  padding: 50px 0;
}

.footer h4 {
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 12px;
}

.footer p {
  font-size: 12px;
  margin: 2px 0;
}

.footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer ul li {
  display: inline;
}

.footer ul li a {
  display: inline-block;
  font-size: 0;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  position: relative;
  top: -8px;
  cursor: pointer;
}

.footer ul li:nth-child(1) a {
  background-image: url(https://s3.amazonaws.com/codecademy-content/projects/headlines/email.svg);
}

.footer ul li:nth-child(2) a {
  background-image: url(https://s3.amazonaws.com/codecademy-content/projects/headlines/fb.svg);
}

.footer ul li:nth-child(3) a {
  background-image: url(https://s3.amazonaws.com/codecademy-content/projects/headlines/twitter.svg);
}